/*
 * hheader
 */

header{
    width:100%;
    height: 114px;
    border-bottom: 1px solid #dcdcdc;
    background: #f5f5f5;
    .banner{
        height:82px;
        width:100%;
        text-align:center;
        overflow:hidden;
        a{
            img{
                margin:0 -100%;
            }
        }
    };
    .loginbar{
        width:1200px;
        margin:0 auto;
        div{
            height:32px;
            width:572px;
            float: right;
            line-height:32px;
            .login{
                float:left;
                width: 96px;
                height: 12px;
                font-size:12px;
                li{
                   float: left;
                   width:48px;
                   text-align: center;
                     background: url(../images/1.jpg) no-repeat right center;
                   a{
                       text-decoration: none;
                       color:#5a5a5a;
                   }
                };  
                .noborder{
                    border: 0;
                    background-image:none ;
                }       
            };
            i{
                color:#d9dde3;
            };
            div{
                float: left;
                font-size: 12px;
                height: 32px;
                line-height: 32px;
                width: 102px;
                margin-top:0;
                color:#5a5a5a;
                background: url(../images/1.jpg) no-repeat right center;
                cursor: pointer;
                position: relative;
                span{
                    display: inline-block;
                    width:9px;
                    height:6px;
                    background:url(../images/section-tigger.png) no-repeat -30px -36px;
                    position: absolute;
                    top:11px;
                    right:13px;
                };
                p{
                    margin-left:12px;
                    a{
                        text-decoration: none;
                       color:#5a5a5a;
                    }
                }
            };
            .list1{
                  .select{
                       width: 102px;
                       height:80px;
                       background:white;
                       font-size: 12px;
                       color:#5a5a5a;
                       border: 1px solid #dcdcdc;
                       border-top:none;
                       position: absolute;
                       top:32px;
                       left:0px;
                       display: none;
                        li{
                            margin-left:12px;
                            height: 26px;
                            line-height: 26px;
                            &:hover{
                                color:red;
                            }
                        }    
                  };
                  p{
                     a{
                         &:hover{
                             color:red;
                         }
                     }
                  };
                  &:hover{
                      border: 1px solid #dcdcdc;
                      background: white;
                      border-bottom: none;
                      span{
                          background:url(../images/section-tigger.png) no-repeat -16px -28px;
                      };
                      .select{
                          display: block;
                          z-index: 999;
                      }
                  }
            };
            .list2{
                  .app{
                       width: 102px;
                       height:107px;
                       background:white;
                       font-size: 12px;
                       color:#5a5a5a;
                       border: 1px solid #dcdcdc;
                       border-top:none;
                       position: absolute;
                       top:32px;
                       left:0px;
                       display: none;
                        dt{
                           height:77px;
                           margin-top:10px;
                           img{
                                display: block;
                                margin: 0 auto;
                            }
                        };
                        dd{
                            text-align: center;
                            
                        }   
                  };
                  &:hover{
                      border: 1px solid #dcdcdc;
                      background: white;
                      border-bottom: none;
                      span{
                          background:url(../images/section-tigger.png) no-repeat -16px -28px;
                      };
                      .app{
                          display: block;
                          z-index: 999;
                      }
                  }
            };
            .list3{
                  .app{
                       width: 102px;
                       height:107px;
                       background:white;
                       font-size: 12px;
                       color:#5a5a5a;
                       border: 1px solid #dcdcdc;
                       border-top:none;
                       position: absolute;
                       top:32px;
                       left:0px;
                       display: none;
                        dt{
                           height:77px;
                           margin-top:10px;
                           img{
                                display: block;
                                margin: 0 auto;
                            }
                        };
                        dd{
                            text-align: center;
                            
                        }   
                  };
                  &:hover{
                      border: 1px solid #dcdcdc;
                      background: white;
                      border-bottom: none;
                      span{
                          background:url(../images/section-tigger.png) no-repeat -16px -28px;
                      };
                      .app{
                          display: block;
                          z-index: 999;
                      }
                  }
            };
            .list4{
                  width: 92px;
                  .select1{
                       width: 92px;
                       height:80px;
                       background:white;
                       font-size: 12px;
                       color:#5a5a5a;
                       border: 1px solid #dcdcdc;
                       border-top:none;
                       position: absolute;
                       top:32px;
                       left:0px;
                       display: none;
                        li{
                            margin-left:12px;
                            height: 26px;
                            line-height: 26px;
                            &:hover{
                                color:red;
                            }
                        }    
                  };
                  p{
                        &:hover{
                            color:red;
                        }

                  };
                  &:hover{
                      border: 1px solid #dcdcdc;
                      background: white;
                      border-bottom: none;
                      span{
                          background:url(../images/section-tigger.png) no-repeat -16px -28px;
                      };
                      .select1{
                          display: block;
                          z-index: 999;
                      }
                  }
            };
            .list5{
                  width: 62px;
                  border:0;
                  background-image:none ;
                  .select2{
                       width: 230px;
                       height:260px;
                       background:white;
                       font-size: 12px;
                       color:#5a5a5a;
                       border: 1px solid #dcdcdc;
                       border-top:none;
                       position: absolute;
                       top:32px;
                       right:0px;
                       display: none;
                        li{
                            margin-left:12px;
                            height: 32px;
                            line-height: 32px;
                            &:hover{
                                color:red;
                            }
                        }    
                  };
                  p{
                        &:hover{
                            color:red;
                        }

                  };
                  &:hover{
                      border: 1px solid #dcdcdc;
                      background: white;
                      border-bottom: none;
                      span{
                          background:url(../images/section-tigger.png) no-repeat -16px -28px;
                      };
                      .select2{
                          display: block;
                          z-index: 999;
                      }
                  }
            }
        }
    }
}
//search

.search{
    height: 110px;
    width: 100%;
    background: #f5f5f5;
    position: relative;
    .container{
        width: 1200px;
        height: 110px;
        padding-left: 0px;
        position: relative;
        .logo{
            width:210px;
            height: 99px;
            float: left;
            margin-top: 7px;
        };
        .searchbar{
            width: 480px;
            height: 38px;
            margin-left: 130px;
            margin-top: 30px;
            float: left;
            input{
                float: left;
            };
            .select1{
                width: 382px;
                height: 38px;
                padding-left: 10px;
                border: 3px solid #da0055;
                outline: none;
            }
            .searchBtn{
                width: 98px;
                height: 38px;
                background: url(../images/common-thumb.png) no-repeat -31px -4px;
                border: none;
            }
        };
        .suggest_info{
            width:382px;
            display: none;
            background: white;
            position: absolute;
            top: 68px;
            left: 341px;
            z-index: 999;
        }
        .tag{
            width: 355px;
            height: 28px;
            line-height: 28px;
            position: absolute;
            left:340px;
            bottom: 14px;
            font-size: 12px;
            a{
                color:#888888;
                text-decoration: none;
                margin-right:7px;
            }
        };
        .cart{
            display: block;
            float: right;
            width: 248px;
            height: 32px;
            margin-top: 30px;
            text-decoration: none;
            background: #ffda74 url(../images/common-thumb.png) no-repeat -238px -4px;
            .cart1{
                display: block;
                width: 175px;
                height: 28px;
                background: white;
                font-size: 12px;
                text-align: center;
                line-height: 28px;
                margin-top: 2px;
                margin-left: 70px;
                color: #444444;
                b{
                    color:red;
                }
            }
        }
    }
}

//nav
nav{
    width:100%;
    height: 40px;
    background: black;
    .nav1{
        width: 1200px;
        height: 40px;
        margin: 0 auto;
        position: relative;
        ul{
            font-size: 14px;
            margin-bottom: 0px;
            li{
                float: left;
                a{
                    color:white;
                    text-decoration: none;
                };
                &:nth-child(1){
                    width:100px;
                    height:40px;
                    a{
                        display: block;
                        width:100px;
                        height:40px;
                        text-align: center;
                        line-height: 40px;
                        background: #da0055;
                    }
                };
                &:nth-child(2){
                    width:122px;
                    height:40px;
                    a{
                        display: block;
                        width:122px;
                        height:46px;
                        position: relative;
                        background: url(../images/common-thumb.png) no-repeat -187px -46px; 
                        bottom: 6px;                                        
                    }
                };
                &:nth-child(3){
                    width:100px;
                    height:40px;
                    a{
                        display: block;
                        width:100px;
                        height:40px;
                        text-align: center;
                        line-height: 40px;
                       &:hover{
                           color:#da0055;
                       }
                    }
                };
                &:nth-child(4){
                    width:100px;
                    height:40px;
                    a{
                        display: block;
                        width:100px;
                        height:40px;
                        text-align: center;
                        line-height: 40px;
                       &:hover{
                           color:#da0055;
                       }
                    }
                };
                &:nth-child(5){
                    width:100px;
                    height:40px;
                    a{
                        display: block;
                        width:100px;
                        height:40px;
                        text-align: center;
                        line-height: 40px;
                       &:hover{
                           color:#da0055;
                       }
                    }
                };
                &:nth-child(6){
                    width:130px;
                    height:40px;
                    a{
                        display: block;
                        width:130px;
                        height:40px;
                        text-align: center;
                        line-height: 40px;
                       &:hover{
                           color:#da0055;
                       }
                    }
                };
                &:nth-child(7){
                    width:100px;
                    height:40px;
                    a{
                        display: block;
                        width:100px;
                        height:40px;
                        text-align: center;
                        line-height: 40px;
                       &:hover{
                           color:#da0055;
                       }
                    }
                };
            };
            
        };
        .subnav1{
                width:1124px;
                height:396px;
                padding-top: 13px;
                position: absolute;
                top:40px;
                left: 0px;
                z-index: 999;
                background: white;
                display: none;
            .nnavarr1{
                position: absolute;       
                top: -8px;
                left: 264px;
                width: 16px;
                height: 16px;
                line-height: 16px;
                text-align: center;
                font-size: 16px;
                font-family: "\5b8b\4f53";
                color: white;
                text-decoration: none;
            };
            .yundong{
                width:1124px;
                height:383px;
                .colbox{
                    width:385px;
                    height:372px;
                    float: left;
                    padding: 10px 12px;
                    border-right:1px dotted ;
                    h3{
                        font-size: 12px;
                        margin-top: 0px;
                        color: #D20D33;
                    };
                    .catewrap{
                        line-height: 12px;
                        font-size: 12px;
                        margin-bottom: 12px;
                        margin-top: 12px;
                        overflow: hidden;
                        h3{
                            color: #5E5E5E;
                        };
                        .context{
                            margin-top: 16px;
                            a{
                                float: left;
                                display: inline;
                                width: auto;
                                margin-right: 15px;
                                margin-bottom: 8px;
                                white-space: nowrap;                               
                                color: #5E5E5E;
                                text-decoration: none;
                                &:hover{
                                    color:#D20D33;
                                }
                            }
                        }
                    }
                };
                .right{
                    width:264px;
                    height:385px;
                    float: left;
                    padding: 10px 12px;
                    h3{
                        font-size: 12px;
                        margin-top: 0px;
                        margin-bottom: 0px;
                        color: #D20D33;
                    };
                    .catewrap1{
                        li{
                            float: left;
                            width:80px;
                            height:43px;
                            a{
                                display: block;
                                width:80px;
                                height:55px;
                                background: url(../images/2.png) no-repeat;
                            };
                            &:nth-child(1) a{
                                background-position: 0px 0px;
                            }
                            &:nth-child(2) a{
                                background-position: -80px 0px;
                                bottom:0px;
                            }
                            &:nth-child(3) a{
                                background-position: -160px 0px;
                            }
                            &:nth-child(4) a{
                                background-position: 0px -43px;
                            }
                            &:nth-child(5) a{
                                background-position: -80px -43px;
                            }
                            &:nth-child(6) a{
                                background-position: -160px -43px;
                            }
                            &:nth-child(7) a{
                                background-position: 0px -86px;
                            }
                            &:nth-child(8) a{
                                background-position: -80px -86px;
                            }
                            &:nth-child(9) a{
                                background-position: -160px -86px;
                            }
                            &:nth-child(10) a{
                                background-position: 0px -129px;
                            }
                            &:nth-child(11) a{
                                background-position: -80px -129px;
                            }
                            &:nth-child(12) a{
                                background-position: -160px -129px;
                            }
                            &:nth-child(13) a{
                                background-position: 0px -172px;
                            }
                            &:nth-child(14) a{
                                background-position: -80px -172px;
                            }
                            &:nth-child(15) a{
                                background-position: -160px -172px;
                            }
                            &:nth-child(16) a{
                                background-position: 0px -215px;
                            }
                            &:nth-child(17) a{
                                background-position: -80px -215px;
                            }
                            &:nth-child(18) a{
                                background-position: -160px -215px;
                            }
                            &:nth-child(19) a{
                                background-position: 0px -258px;
                            }
                            &:nth-child(20) a{
                                background-position: -80px -258px;
                            }
                            &:nth-child(21) a{
                                background-position: -160px -258px;
                            }
                            &:nth-child(22) a{
                                background-position: 0px -301px;
                            }
                            &:nth-child(23) a{
                                background-position: -80px -301px;
                            }
                            &:nth-child(24) a{
                                background-position: -160px -301px;
                            }
                        }
                    }
                }    
            }
        };
        .subnav2{
            width:935px;
            height:385px;
            padding-top: 13px;
            position: absolute;
            top:40px;
            left: 0px;
            z-index: 999;
            background: white;
            display: none;
            .nnavarr2{
                position: absolute;       
                top: -8px;
                left: 364px;
                width: 16px;
                height: 16px;
                line-height: 16px;
                text-align: center;
                font-size: 16px;
                font-family: "\5b8b\4f53";
                color: white;
                text-decoration: none;
            }
            .xiuxian{
                width:935px;
                height:372px;
                .colbox{
                    width:345px;
                    height:372px;
                    float: left;
                    padding: 10px 12px;
                    border-right:1px dotted ;
                    h3{
                        font-size: 12px;
                        margin-top: 0px;
                        color: #D20D33;
                    };
                    .catewrap{
                        line-height: 12px;
                        font-size: 12px;
                        margin-bottom: 12px;
                        margin-top: 12px;
                        overflow: hidden;
                        h3{
                            color: #5E5E5E;
                        };
                        .context{
                            margin-top: 16px;
                            a{
                                float: left;
                                display: inline;
                                width: auto;
                                margin-right: 15px;
                                margin-bottom: 8px;
                                white-space: nowrap;                               
                                color: #5E5E5E;
                                text-decoration: none;
                                &:hover{
                                    color:#D20D33;
                                }
                            }
                        }
                    }
                };
                .right{
                    width:264px;
                    height:385px;
                    float: left;
                    padding: 10px 12px;
                    h3{
                        font-size: 12px;
                        margin-top: 0px;
                        margin-bottom: 0px;
                        color: #D20D33;
                    };
                    .catewrap1{
                        li{
                            float: left;
                            width:80px;
                            height:43px;
                            a{
                                display: block;
                                width:80px;
                                height:55px;
                                background: url(../images/3.jpg) no-repeat;
                            };
                            &:nth-child(1) a{
                                background-position: 0px 0px;
                            }
                            &:nth-child(2) a{
                                background-position: -80px 0px;
                                bottom:0px;
                            }
                            &:nth-child(3) a{
                                background-position: -160px 0px;
                            }
                            &:nth-child(4) a{
                                background-position: 0px -43px;
                            }
                            &:nth-child(5) a{
                                background-position: -80px -43px;
                            }
                            &:nth-child(6) a{
                                background-position: -160px -43px;
                            }
                            &:nth-child(7) a{
                                background-position: 0px -86px;
                            }
                            &:nth-child(8) a{
                                background-position: -80px -86px;
                            }
                            &:nth-child(9) a{
                                background-position: -160px -86px;
                            }
                            &:nth-child(10) a{
                                background-position: 0px -129px;
                            }
                            &:nth-child(11) a{
                                background-position: -80px -129px;
                            }
                            &:nth-child(12) a{
                                background-position: -160px -129px;
                            }
                            &:nth-child(13) a{
                                background-position: 0px -172px;
                            }
                            &:nth-child(14) a{
                                background-position: -80px -172px;
                            }
                            &:nth-child(15) a{
                                background-position: -160px -172px;
                            }
                            &:nth-child(16) a{
                                background-position: 0px -215px;
                            }
                            &:nth-child(17) a{
                                background-position: -80px -215px;
                            }
                            &:nth-child(18) a{
                                background-position: -160px -215px;
                            }
                            &:nth-child(19) a{
                                background-position: 0px -258px;
                            }
                            &:nth-child(20) a{
                                background-position: -80px -258px;
                            }
                            &:nth-child(21) a{
                                background-position: -160px -258px;
                            }
                        }
                    }
                }    
            }
        };
        .subnav3{
                width:946px;
                height:385px;
                padding-top: 13px;
                position: absolute;
                top:40px;
                left: 0px;
                z-index: 999;
                background: white;
                display: none;
            .nnavarr3{
                position: absolute;       
                top: -8px;
                left: 464px;
                width: 16px;
                height: 16px;
                line-height: 16px;
                text-align: center;
                font-size: 16px;
                font-family: "\5b8b\4f53";
                color: white;
                text-decoration: none;
            };
            .nannv{
                width:955px;
                height:383px;
                .colbox{
                    width:345px;
                    height:372px;
                    float: left;
                    padding: 10px 12px;
                    border-right:1px dotted ;
                    h3{
                        font-size: 12px;
                        margin-top: 0px;
                        color: #D20D33;
                    };
                    .catewrap{
                        line-height: 12px;
                        font-size: 12px;
                        margin-bottom: 12px;
                        margin-top: 12px;
                        overflow: hidden;
                        h3{
                            color: #5E5E5E;
                        };
                        .context{
                            margin-top: 16px;
                            a{
                                float: left;
                                display: inline;
                                width: auto;
                                margin-right: 15px;
                                margin-bottom: 8px;
                                white-space: nowrap;                               
                                color: #5E5E5E;
                                text-decoration: none;
                                &:hover{
                                    color:#D20D33;
                                }
                            }
                        }
                    }
                };
                .right{
                    width:265px;
                    height:381px;
                    float: left;
                    padding: 10px 12px;
                    h3{
                        font-size: 12px;
                        margin-top: 0px;
                        margin-bottom: 0px;
                        color: #D20D33;
                    };
                    .catewrap1{
                        li{
                            float: left;
                            width:80px;
                            height:43px;
                            a{
                                display: block;
                                width:80px;
                                height:55px;
                                background: url(../images/4.jpg) no-repeat;
                            };
                            &:nth-child(1) a{
                                background-position: 0px 0px;
                            }
                            &:nth-child(2) a{
                                background-position: -80px 0px;
                                bottom:0px;
                            }
                            &:nth-child(3) a{
                                background-position: -160px 0px;
                            }
                            &:nth-child(4) a{
                                background-position: 0px -43px;
                            }
                            &:nth-child(5) a{
                                background-position: -80px -43px;
                            }
                            &:nth-child(6) a{
                                background-position: -160px -43px;
                            }
                            &:nth-child(7) a{
                                background-position: 0px -86px;
                            }
                            &:nth-child(8) a{
                                background-position: -80px -86px;
                            }
                            &:nth-child(9) a{
                                background-position: -160px -86px;
                            }
                            &:nth-child(10) a{
                                background-position: 0px -129px;
                            }
                            &:nth-child(11) a{
                                background-position: -80px -129px;
                            }
                            &:nth-child(12) a{
                                background-position: -160px -129px;
                            }
                            &:nth-child(13) a{
                                background-position: 0px -172px;
                            }
                            &:nth-child(14) a{
                                background-position: -80px -172px;
                            }
                            &:nth-child(15) a{
                                background-position: -160px -172px;
                            }
                            &:nth-child(16) a{
                                background-position: 0px -215px;
                            }
                            &:nth-child(17) a{
                                background-position: -80px -215px;
                            }
                            &:nth-child(18) a{
                                background-position: -160px -215px;
                            }
                            &:nth-child(19) a{
                                background-position: 0px -258px;
                            }
                            &:nth-child(20) a{
                                background-position: -80px -258px;
                            }
                            &:nth-child(21) a{
                                background-position: -160px -258px;
                            }
                        }
                    }
                }    
            }
        };
        .subnav4{
            width:1158px;
            height:396px;
            padding-top: 13px;
            position: absolute;
            top:40px;
            left: 0px;
            z-index: 999;
            background: white;
            display: none;
            .nnavarr4{
                position: absolute;       
                top: -8px;
                left: 594px;
                width: 16px;
                height: 16px;
                line-height: 16px;
                text-align: center;
                font-size: 16px;
                font-family: "\5b8b\4f53";
                color: white;
                text-decoration: none;
            }
            .quanqiu{
                width:1158px;
                height:383px;
                .colbox{
                    width:345px;
                    height:372px;
                    float: left;
                    padding: 10px 12px;
                    border-right:1px dotted ;
                    h3{
                        font-size: 12px;
                        margin-top: 0px;
                        color: #D20D33;
                    };
                    .catewrap{
                        line-height: 12px;
                        font-size: 12px;
                        margin-bottom: 12px;
                        margin-top: 12px;
                        overflow: hidden;
                        h3{
                            color: #5E5E5E;
                        };
                        .context{
                            margin-top: 16px;
                            a{
                                float: left;
                                display: inline;
                                width: auto;
                                margin-right: 15px;
                                margin-bottom: 8px;
                                white-space: nowrap;                               
                                color: #5E5E5E;
                                text-decoration: none;
                                &:hover{
                                    color:#D20D33;
                                }
                            }
                        }
                    }
                };
                .right{
                    width:265px;
                    height:393px;
                    float: left;
                    padding: 10px 12px;
                    h3{
                        font-size: 12px;
                        margin-top: 0px;
                        margin-bottom: 0px;
                        color: #D20D33;
                    };
                    .catewrap1{
                        li{
                            float: left;
                            width:80px;
                            height:43px;
                            a{
                                display: block;
                                width:80px;
                                height:55px;
                                background: url(../images/6.jpg) no-repeat;
                            };
                            &:nth-child(1) a{
                                background-position: 0px 0px;
                            }
                            &:nth-child(2) a{
                                background-position: -80px 0px;
                                bottom:0px;
                            }
                            &:nth-child(3) a{
                                background-position: -160px 0px;
                            }
                            &:nth-child(4) a{
                                background-position: 0px -43px;
                            }
                            &:nth-child(5) a{
                                background-position: -80px -43px;
                            }
                            &:nth-child(6) a{
                                background-position: -160px -43px;
                            }
                            &:nth-child(7) a{
                                background-position: 0px -86px;
                            }
                            &:nth-child(8) a{
                                background-position: -80px -86px;
                            }
                            &:nth-child(9) a{
                                background-position: -160px -86px;
                            }
                            &:nth-child(10) a{
                                background-position: 0px -129px;
                            }
                            &:nth-child(11) a{
                                background-position: -80px -129px;
                            }
                            &:nth-child(12) a{
                                background-position: -160px -129px;
                            }
                            &:nth-child(13) a{
                                background-position: 0px -172px;
                            }
                            &:nth-child(14) a{
                                background-position: -80px -172px;
                            }
                            &:nth-child(15) a{
                                background-position: -160px -172px;
                            }
                            &:nth-child(16) a{
                                background-position: 0px -215px;
                            }
                            &:nth-child(17) a{
                                background-position: -80px -215px;
                            }
                            &:nth-child(18) a{
                                background-position: -160px -215px;
                            }
                            &:nth-child(19) a{
                                background-position: 0px -258px;
                            }
                            &:nth-child(20) a{
                                background-position: -80px -258px;
                            }
                            &:nth-child(21) a{
                                background-position: -160px -258px;
                            }
                        }
                    }
                }    
            }
        };
    };
}

//footer
footer{
    width: 100%;
    height:327px;
    border-top: 2px solid #a6a6a6; 
    background: #e6e6e6;
    padding-top: 30px;;
    .up{
        width:1200px;
        height: 274px;
        margin: 0 auto;
        .top{
            width:1200px;
            height: 152px;
            .left{
                width: 562px;
                height: 152px;
                background: white;
                float: left;
                font-size: 14px;
                dl{
                    width:120px;
                    height: 125px;
                    float: left;
                    margin-left: 94px;
                    margin-top: 22px;
                    text-align: center;
                    dt{
                        img{
                            width: 90px;
                            height: 90px;
                        }
                    }
                    dd{
                        margin-top: 12px;
                    }
                }
            }
            .right{
                width: 579px;
                height: 152px;
                float: right;
                font-size: 12px;
                div{
                    width: 121px;
                    height: 134px;
                    border-left: 1px solid white;
                    float: left;
                    margin-right: 30px;
                    .tit{
                        width: 121px;
                        height: 26px;
                        line-height: 26px;
                        background: white;
                        font-size: 14px;
                        margin-bottom: 9px;
                        color: #666;
                        margin-left: 0px;
                        span{
                            margin-left: 21px;
                        }
                    }
                    p{
                        margin-left: 21px;
                        a{
                            text-decoration: none;
                            color:#666;
                        }
                    }
                }
            }
        }
        .center{
            width: 1200px;
            height: 37px;
            margin-top: 45px;
            text-align: center;
            a{
                padding: 0 10px;
            }
        }
        .bottom{
            width: 1200px;
            height: 13px;
            margin-top: 15px;
            font-size: 12px;
            text-align: center;
            a{
                color:#777;
                padding: 0 2px;
                text-decoration: none;
            }
            span{
                color:#D3D3D3;
            }
        }
    }
    .down{
        width: 100%;
        height: 24px;
        line-height: 24px;
        font-size: 12px;
        text-align: center;
        background: #232323;
         color:#878787;
        a{
            text-decoration: none;
            color:#878787;
        }
    }
}
