body{
    background:#f9f9f9;
}

//产品选择
.prodListTopIn{
    width: 1200px;
    height: 170px;
    background: #f9f9f9;
    margin: 0 auto;
    margin-top: 10px;
    .brandNameQ{
        width: 1200px;
        height: 90px;
        .left{
            width: 75px;
            height: 90px;
            float: left;
            img{
                width: 75px;
                height: 90px;
            }
        }
        .center{
            width: 968px;
            height: 90px;
            background: white;
            float: left;
            dt{
                width: 100px;
                height: 90px;
                float: left;
                img{
                    width: 72px;
                    height: 50px;
                    margin-top:20px;
                    margin-left: 23px;
                }
            }
            dd{
                width: 640px;
                height: 90px;
                float: left;
                h1{
                    font-weight: bold;
                     margin-top:20px;
                     margin-left: 14px;
                }
                p{
                    color: #999;
                    line-height: 1.67;
                    margin-left: 14px;
                }
            }
        }
        .right{
            width: 157px;
            height: 90px;
            float: right;
            a{
                display: block;
                width: 157px;
                height: 90px;
                background: url(../images/toallbrand.png) no-repeat 0px center;
                &:hover{
                    background: url(../images/toallbrand.png) no-repeat -238px center;
                }
            }
        }
    }
    .brandTab{
        width: 1200px;
        height: 70px;
        margin-top: 10px;
        background: white;
        li{
            width: 200px;
            height: 70px;
            float: left;
            a{
                display: block;
                width: 200px;
                height: 70px;
                position: relative;
                img{
                    width: 13px;
                    height: 7px;
                    position: absolute;
                    left: 100px;
                    bottom: -5px;
                    display: none;
                }
            }
            &:nth-child(1){
                a{
                    background:url(../images/newcateclick_1.png) no-repeat ;
                    img{
                        display: block;
                    }
                }
            }
            &:nth-child(2){
                a{
                    background:url(../images/newcate_2_2.png) no-repeat ;
                }
            }
            &:nth-child(3){
                a{
                    background:url(../images/newcate_3.png) no-repeat ;
                }
            }
            &:nth-child(4){
                a{
                    background:url(../images/newcate_4.png) no-repeat ;
                }
            }
            &:nth-child(5){
                a{
                    background:url(../images/newcate_5.png) no-repeat ;
                }
            }
            &:nth-child(6){
                a{
                    background:url(../images/newcate_6.png) no-repeat ;
                }
            }
        }
    }  
}


//选择列表
.select{
    width: 1200px;
    border: 1px solid;
    margin: 0 auto;
    margin-top: 20px;
    background: white;
    .sex{
        width: 1200px;
        height: 42px;
        border-bottom: 1px dotted #c8c8c8;
        h5{
            float: left;
            width: 100px;
            height: 100%;
            padding-top:15px;
            box-sizing: border-box;
            text-align: center;
            font-weight: normal;
            background: #fbfbfb;
            color: #333;
        }
        .sex_1{
            width: 1100px;
            height: 42px;
            float: left;
            background: white;
            .quan{
                display: inline-block;
                float: left;
                width:40px;
                height: 23px;
                margin: 0 20px;
                margin-top: 10px;
                background: #d70057;
                text-align: center;
                a{
                    display: inline-block;
                    width:40px;
                    height: 23px;
                    line-height: 23px;
                    color: white;
                }
            }
            div{
                width: 1020px;
                height: 42px;
                float: left;
                .nan,.nv{
                    width: 127px;
                    height: 29px;
                    padding-top:15px;
                    box-sizing: border-box;
                    display: inline-block;
                    float: left;
                    box-sizing: border-box;
                    padding-left: 2px;
                    a{
                        color: #333;
                    }
                }
            }
        }
        
    }
    .fenlei{
        width: 1200px;
        height: 100px;
        border-bottom: 1px dotted #c8c8c8;
        position: relative;
        h5{
            float: left;
            width: 100px;
            height: 100%;
            padding-top:15px;
            box-sizing: border-box;
            text-align: center;
            font-weight: normal;
            background: #fbfbfb;
            color: #333;
        }
        .fenlei_1{
            width: 1100px;
            float: left;
            background: white;
            .quan{
                display: inline-block;
                float: left;
                width:40px;
                height: 23px;
                margin: 0 20px;
                margin-top: 10px;
                background: #d70057;
                text-align: center;
                a{
                    display: inline-block;
                    width:40px;
                    height: 23px;
                    line-height: 23px;
                    color: white;
                }
            }
            div{
                width: 890px;
                
                float: left;
                .fenlei-item{
                   width: 127px;
                    height: 29px;
                    padding-top:15px;
                    box-sizing: border-box;
                    display: inline-block;
                    float: left;
                    box-sizing: border-box;
                    padding-left: 2px;
                    a{
                        color: #333;
                    }
                }
            }
        }
        .submit{
            display: inline-block;
            width: 38px;
            height: 20px;
            line-height: 20px;
            color: #d70057;
            cursor: pointer;
            position: absolute;
            top: 10px;
            right: 20px;
            .wenzi{
                display: inline-block;
                float: left;
            }
            .jiantou{
                float: left;
                margin-top: 5px;
                display: inline-block;
                width: 10px;
                height: 10px;
                margin-left: 4px;
                background: url(../images/section-tigger.png) -16px -34px no-repeat;
            }
        }
    }
    .size{
        width: 1200px;
        height: 187px;
        border-bottom: 1px dotted #c8c8c8;
        position: relative;
        h5{
            float: left;
            width: 100px;
            height: 100%;
            padding-top:15px;
            box-sizing: border-box;
            text-align: center;
            font-weight: normal;
            background: #fbfbfb;
            color: #333;
        }
        .size_1{
            width: 1100px;
            float: left;
            background: white;
            .quan{
                display: inline-block;
                float: left;
                width:40px;
                height: 23px;
                margin: 0 20px;
                margin-top: 10px;
                background: #d70057;
                text-align: center;
                a{
                    display: inline-block;
                    width:40px;
                    height: 23px;
                    line-height: 23px;
                    color: white;
                }
            }
            div{
                width: 890px;
                
                float: left;
                .size-item{
                   width: 127px;
                    height: 29px;
                    padding-top:15px;
                    box-sizing: border-box;
                    display: inline-block;
                    float: left;
                    box-sizing: border-box;
                    padding-left: 2px;
                    a{
                        color: #333;
                    }
                }
            }
        }
        .submit1{
            display: inline-block;
            width: 38px;
            height: 20px;
            line-height: 20px;
            color: #d70057;
            cursor: pointer;
            position: absolute;
            top: 10px;
            right: 20px;
            .wenzi1{
                display: inline-block;
                float: left;
            }
            .jiantou1{
                float: left;
                margin-top: 5px;
                display: inline-block;
                width: 10px;
                height: 10px;
                margin-left: 4px;
                background: url(../images/section-tigger.png) -16px -34px no-repeat;
            }
        }
    }
    .color{
        width: 1200px;
        height: 40px;
        border-bottom: 1px dotted #c8c8c8;
        position: relative;
        h5{
            float: left;
            width: 100px;
            height: 100%;
            padding-top:15px;
            box-sizing: border-box;
            text-align: center;
            font-weight: normal;
            background: #fbfbfb;
            color: #333;
        }
        .color_1{
            width: 1100px;
            float: left;
            background: white;
            .quan{
                display: inline-block;
                float: left;
                width:40px;
                height: 23px;
                margin: 0 20px;
                margin-top: 10px;
                background: #d70057;
                text-align: center;
                a{
                    display: inline-block;
                    width:40px;
                    height: 23px;
                    line-height: 23px;
                    color: white;
                }
            }
            div{
                width: 890px;
                height: 40px;
                float: left;
                .color-item{
                    width: 890px;
                    height: 40px;
                    li{
                        width: 20px;
                        height: 20px;
                        cursor: pointer;
                        border-radius: 50%;
                        margin-top: 10px;
                        background:url(../images/color.png) no-repeat -1px -1px;
                        float: left;
                        margin-left: 7px;
                        &:nth-child(2){
                            background:url(../images/color.png) no-repeat -89px -1px;
                        }
                        &:nth-child(3){
                            background:url(../images/color.png) no-repeat -60px -1px;
                        }
                        &:nth-child(4){
                            background:url(../images/color.png) no-repeat -118px -35px;
                        }
                        &:nth-child(5){
                            background:url(../images/color.png) no-repeat -60px -35px;
                        }
                        &:nth-child(6){
                            background:url(../images/color.png) no-repeat -31px -35px;
                        }
                        &:nth-child(7){
                            background:url(../images/color.png) no-repeat -147px -35px;
                        }
                        &:nth-child(8){
                            background:url(../images/color.png) no-repeat -261px -35px;
                        }
                        &:nth-child(9){
                            background:url(../images/color.png) no-repeat -89px -35px;
                        }
                        &:nth-child(10){
                            background:url(../images/color.png) no-repeat -205px -1px;
                        }
                    }
                }
            }
        }
    }
}
